


.navigation{
    display:flex;
  vertical-align:top;
  margin:0;
  padding:0;
  height: 56px;
  padding-right: 16px;
  align-items: center;
  box-shadow:0 3px 3px rgba(238,238,238,0.6);
}

.menu{
    width: 10px;
  margin-left: 50px;
}

.logo{
    width: 80px;
    
    
    margin-left: 40px;
}

.hamburger{
    width: 24px;
    height: 24px;
}

.search-form{
    
    width: 600px;
    margin-left: 15%;
}
form{
    width: 80%;
}
.search-form input{
    
    width:100%;
    height: 30px;
    float:left;
    box-shadow: 1;
}

.search-form button{
    display:flex-end;
    width: 10%;
    float:left;
}

.icons img{
    margin-left: 20px;
    
}

.icons{
    margin-left: 50px;
}

/* 
video  part 
*/

#row{
    margin-top:20px;

}
.flex-container {
    display: flex;
    
  }

#video{
    margin-left: 100px;
    font-size: 22px;
  
}

#sidebar{
    margin-left: 3%;
}
#sidebar img{
    width: 150px;
    height: 88px;
}
.bar{
    padding-bottom: 15px;
}


.description ul{
    list-style-type: none;
    margin-left: -19px;
}
#up i{
   margin-right: 10px;
   font-size: medium;
   color:gray;
   
}

/* below main video views*/
.description1 {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid #ecf0f1;
}
li h2{
    font-size: medium;
}
li p{
    font-size:small;
    line-height: 1px;
}
.under{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;

}
.under img{
    width: 50px;
    height:50px;
    border-radius: 50%;
    
}

.under button{
    color:white;
    background-color:red;
    border-radius:2px;
    height: 51px;
    width: 184px;
    font-size: medium;
}

.divider{
   border-bottom:1px solid #ecf0f1;
   border-top:1px solid #ecf0f1;
   padding-top: 15px;
   padding-bottom: 5px;
   margin-bottom: 15px;
   
}
.video-desc{
    margin-top:15px;
    border-bottom:1px solid #ecf0f1;
}
.video-desc p{
    color:black;
    font-size: small;
    text-align: justify;
}

.toggle{
    display: flex;
    justify-content: space-between;
}
.toggle-bt h2{
font-size: medium;
color:lightgray;

}
.toggle-bt{
display: inline-flex;
}

/* Toggle Button */

input[type=checkbox]{
    height:0;
    width:0;
    visibility:hidden;
  }
  label{
    text-indent:-9999px;
    width:36px;
    height:14px;
    background:grey;
    display:block;
    border-radius:100px;
    position:relative;
  }
  label:after {
    content:'';
    position: absolute;
    top:0;
    left:1px;
    height:14px;
    width:14px;
    background:#fff;
    border-radius:50px;
  }
  
  input:checked+label{
    background:blue;
   
  }
  
  input:checked+label:after{
    left: calc(100% - 1px);
    transform:translateX(-100%);
   
  }
  /*End Of toggle Button*/
.image{
    display: inline-block;
    font-size: small;
}
.separator{
    display: inline-block;
    height: 48px;
    border-bottom:1px solid gray;

}
.video-desc a{
    color: gray !important;
    Text-Decoration: None !important; 
    
}

.comments{
    margin-top:15px;
    vertical-align:center;
}

.top{
    display: flex;
    vertical-align:center;
    
}
.top p{
    font-size: medium;
  
}
.top i{
    margin-left: 50px;
    font-size: medium;
    margin-top:5px;
   
}

.insert{
    display: flex;
    margin-bottom: 50px;
}

.insert input{
    margin-left: 40px;
    border: none;
    color:gray;
    border-bottom:1px solid gray;
    width: 100%;
    font-size: medium;
    
}
.flex-comment{
    
    display: flex;
   /* padding-bottom: 15px;*/
    
    
}

.flex-comment img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.flex-comment p{
    font-size: small;
    margin-left: 15px;
    margin-right: 10px;
}

.all-c{
    margin-bottom: 30px;
}
.par-bel{
    line-height: 1px;
    margin-left: 55px;
    font-size: 15px;
}

.last-icons{
    margin-left: 60px;
    display: inline-block;
    font-size: 15px;
    
}
.last-icons i{
    margin-right: 20px;
}
.reply{
    margin-left: 60px;
    font-size: small;
    
}